@using Academy.Presentation.ViewModels;

@model PageViewModel<ArticleViewModel>


<div id="articlesPage">
    @if (Model.Items != null)
    {
        foreach (var article in Model.Items)
        {
            Html.RenderPartial("RenderTemplates/ArticleView", article);
        }
    }
</div>

<div class="pagination" id="articlesPageNav">
    <ul>
        @for (int pageNumber = 1; pageNumber < Model.PagesCount; pageNumber++)
        {
            if (pageNumber != Model.PageNumber)
            {
                <li><a href="@Model.GetPageUrl(pageNumber)">@pageNumber</a></li>
            }
            else
            {
                <li class="active"><a href="@Model.GetPageUrl(pageNumber)">@pageNumber</a></li>
            }
        }
    </ul>
</div>

<script type="text/javascript">
    $('#articlesPageNav > li > a').click(function () {
        $.ajax({
            url: this.url,
            success: function(page) {
                $('#articlesPage').html(page);
            }
        });
        return false;
    });
</script>