@using Academy.Presentation.ViewModels;
@model  PageViewModel<CommentViewModel>

<div id="commentsPage" style="min-height: 600px">
    @if (Model.Items != null)
    {
        foreach (var comment in Model.Items)
        {
            Html.RenderPartial("RenderTemplates/CommentView", comment);
        }
    }
    <div class="pagination" id="articlesPageNav" align="center">
        <ul>
            @for (int pageNumber = 1; pageNumber <= Model.PagesCount; pageNumber++)
            {
                if (pageNumber != Model.PageNumber)
                {
                    <li><a href="#/GetUserComments?pageNumber=@pageNumber&pageSize=@Model.PageSize">@pageNumber</a></li>
                }
                else
                {
                    <li class="active"><a href="#">@pageNumber</a></li>
                }
            }
        </ul>
    </div>
</div>