@using Academy.Presentation.Helpers

@model Academy.Presentation.ViewModels.ArticleViewModel

@using (Html.BeginForm(
    "PublishArticle",
    "Profile",
    FormMethod.Post,
    new { @class = "form-horizontal", style = "padding: 0", enctype = "multipart/form-data" }))
{
    @Html.ControlGroupFor(m => m.Title, e => Html.TextBoxFor(e, new { @class = "full-block" }))
    @Html.ControlGroupFor(m => m.Description, e => Html.TextAreaFor(e, new { @class = "full-block" }))

    <div class="control-group">
        <div class="controls">
            @*@Html.FileUploadFor(m => m.File, "Select file", "Change", "Remove")*@
            
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span3">
                        <i class="icon-file fileupload-exists"></i>
                        <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select file</span>
                        <span class="fileupload-exists">Change</span>
                        <input type="file" />
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                    @Html.ModalButton("disciplines", "Select disciplines", "btn")
                </div>
            </div>

            @*@Html.ModalButton("disciplines", "Select disciplines", "btn")*@
        </div>
    </div>

    
    
    @Html.ModalVindowFor(
        Html.DisciplinesTreeFor("disciplines", Model.Disciplines.ToList()),
            "disciplines",
            "Disciplines",
            "Close",
            "Save")
    
    Html.RenderPartial("AuthorsList", Model);

    <input type="submit" value="Publish" class="btn pull-right" />
}
