@using Academy.Resources
@model Academy.Presentation.ViewModels.UserViewModel

@{
    var headerText = Localization.GetString("user.edit.title");
    var editUserFormSettings = new
        {
            @class = "form-horizontal no-margin",
            style = "padding: 0", enctype = "multipart/form-data",
            id = "editUser"
        };
}

<h3 class="text-center">
    @headerText
</h3>

@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, editUserFormSettings))
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel("EditUserEditor")
}

