@model Academy.Presentation.ViewModels.UserViewModel

@{
    var headerText = "Disciplines settings";
    var descriptionText = "Disciplines description";
    var editDisciplinesFormSettings = new
    {
        enctype = "multipart/form-data",
        id = "selectDisciplines"
    };
}

<h3 class="text-center">
    @headerText
</h3>
<p>
    @descriptionText
</p>

<div class="span3">

@using (Html.BeginForm("Subscribe", "Notification", FormMethod.Post, editDisciplinesFormSettings))
{
    @Html.EditorForModel("EditDisciplinesEditor")
}

</div>

<script type="text/javascript">
    $(function () {
        $('#selectDisciplines').submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    $('#editDisciplines').html(result);
                    $('body .modal-backdrop').fadeOut(250);
                    CollapseDisciplinesTree();
                }
            });
            return false;
        });
    });
</script>
