@using Academy.Resources
@model Academy.Presentation.ViewModels.AnswerViewModel

@{
    Layout = "PostView.cshtml";
}

@{
    var removeId = String.Format("removeAnswer{0}", Model.Id);
    var removeText = Localization.GetString("remove.answer");
}

@section Author
{
    @String.Format(
        "{0} {1} {2}",
        Model.Author.Email,
        Model.Author.FirstName,
        Model.Author.LastName)
}

@section Buttons
{
    @if (User.IsInRole("Admin"))
    {
        <div class="pull-right">
            <button class="btn btn-mini btn-danger" id="@removeId">
                @removeText
            </button>
        </div>
    }
}
