@model Academy.Presentation.ViewModels.CommentNewsViewModel

<div>
    @{
        try
        {
            Html.RenderPartial("RenderTemplates/SingleCommentView", Model.Comment);
        }
        catch (Exception exception)
        {
            @exception
        }
    }
</div>