@using Academy.Resources
@model Academy.Presentation.ViewModels.UserViewModel

@{
    var headerText = Localization.GetString("your.disciplines");
}

<h4 class="label btn-block">
    @headerText
</h4>
@if (Model.Disciplines != null)
{
    <ul class="list-flat">
        @foreach(var discipline in Model.Disciplines)
        {
            <li>
                <span class="badge btn-block text-hypenation">@discipline.Name</span>
            </li>
        }
    </ul>
}
