@using Academy.Resources
@model Academy.Presentation.ViewModels.UserViewModel

<div class="control-group">
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail">
                <img src="/Resources/Users/@Model.PhotoFileName" alt="No photo available"/>
            </div>
        </li>
    </ul>
    @*@Html.ActionLink(
        Localization.GetString("profile.myarticles"),
        "GetUserArticles",
        "Profile",
        null,
        new {@class = "btn btn-block", id = "myArticles"})*@
    <a href="#/Articles" id="myArticles" class="btn btn-block">@Localization.GetString("profile.myarticles")</a>
    @Html.ActionLink(
        Localization.GetString("profile.mycomment"),
        "GetArticles",
        "Profile",
        new {@class = "btn btn-block"})
    @Html.ActionLink(
        Localization.GetString("prifile.myquestions"),
        "GetArticles",
        "Profile",
        new {@class = "btn btn-block"})
    @Html.ActionLink(
        Localization.GetString("profile.myanswers"),
        "GetArticles",
        "Profile",
        new {@class = "btn btn-block"})
</div>
