@using Academy.Resources
@model Academy.Presentation.ViewModels.UserViewModel

<div id="user">
    <div class="control-group">
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail">
                    <img src="/Resources/Users/@Model.PhotoFileName" alt="No photo available"/>
                </div>
            </li>
        </ul>
        <a href="#/Articles" id="myArticles" class="btn btn-block">@Localization.GetString("profile.myarticles")</a>
        <a href="#/Questions" id="myQuestions" class="btn btn-block">@Localization.GetString("prifile.myquestions")</a>
        <a href="#/Comments" id="myComments" class="btn btn-block">@Localization.GetString("profile.mycomment")</a>
        <a href="#/Answers" id="myAnswers" class="btn btn-block">@Localization.GetString("profile.myanswers")</a>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('#user > a.btn').on('click', function () {
            $('#user a.btn').removeClass('btn-primary');
            $(this).addClass('btn-primary');
        });
    });
</script>
