@using Academy.Presentation.ViewModels

@model UserViewModel

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Add new article
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
                @{
                    Html.RenderPartial(
                        "PublishArticle",
                        new ArticleViewModel{UploaderId = Model.Id});
                }
            </div>
        </div>
    </div>
</div>


@foreach (var article in Model.Articles)
{
    try
    {
        Html.RenderPartial("RenderTemplates/ArticleView", article);
    }
    catch (Exception exception)
    {
        <p>@exception.Message</p>
        <p>@exception.StackTrace</p>
    }
}