@model Academy.Presentation.ViewModels.ArticleViewModel

<div class="control-group">
    <div class="controls">
        <div id="authors">
            @foreach (var author in Model.Authors)
            {
                using (Html.BeginCollectionItem("Authors"))
                {
                     Html.RenderPartial("EditorTemplates/CreateAuthorEditor", author);
                }
            }
        </div>
        @Html.ActionLink(
            "Add author",
            "AddAuthor",
            "Profile",
            null,
            new { id = "addAuthor", @class = "btn" })
    </div>
</div>
