@model Academy.Presentation.ViewModels.Profile

@using (Html.BeginForm(
        "SelectDisciplines",
        "Profile",
        FormMethod.Post,
        new { enctype = "multipart/form-data" }))
{
    <a href="#myModal" role="button" class="btn btn-block" data-toggle="modal">Select disciplines</a>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
        </div>
        <div class="modal-body">
            <p>@{ Html.RenderPartial("DisciplinesTree"); }</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <input type="submit" value="Save changes" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    
    <p>
        <span class="label btn-block">Your disciplines</span>
    </p>
    @{
        var disciplines = Model.Disciplines.ToList();
        if (disciplines.Count > 0)
        {
            <ul class="list-flat">
                @foreach (var discipline in Model.Disciplines)
                {
                    <li>
                        <span class="badge text-hypenation btn-block">@discipline.Name</span>
                    </li>
                }
            </ul>
        }
    }
</div>
