@model Academy.Presentation.ViewModels.Profile
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Internal.cshtml";
}
@section UserName
{
    @{ Html.RenderPartial("UserName", Model); }
}
@section Profile
{
    <div class="span3">
        @{ Html.RenderPartial("../Shared/RenderTemplates/ProfileView", Model); }
    </div>
}

<div class="span10">
    <div id="body">
    </div>
</div>


