@model Academy.Presentation.ViewModels.Profile

<div class="fileupload fileupload-exists" data-provides="fileupload">
    <div class="fileupload-new thumbnail photo-fixed-size-preview">
        <img src="/Resources/Users/0.jpg" />
    </div>
  <div class="fileupload-preview fileupload-exists thumbnail photo-fixed-size-preview">
    <img src="/Resources/Users/@Model.PhotoFileName">
  </div>
  <div>
      <span class="btn btn-file">
          <span class="fileupload-new">Select image</span>
          <span class="fileupload-exists">Change</span>
          @Html.TextBoxFor(m => m.PostedPhoto, new { type = "file" })
      </span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
</div>
