@model Academy.Presentation.ViewModels.Profile

<div class="fileupload fileupload-new" data-provides="fileupload">
    <div class="fileupload-new thumbnail .photo-frame">
        <img src="/Resources/Users/@Model.PhotoFileName"/>
    </div>
    <div class="fileupload-preview fileupload-exists thumbnail photo-frame" style="line-height: 20px;">
    </div>
    <div>
        <span class="btn btn-file">
            <span class="fileupload-new">Select image</span>
            <span class="fileupload-exists">Change</span>
            @Html.TextBoxFor(m => m.PostedPhoto, new { type = "file" })
        </span>
        <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div>
</div>
