@using Academy.Resources
@using Academy.Presentation.Helpers;

@model Academy.Presentation.ViewModels.ArticleViewModel

@using (Html.BeginForm(
        "Edit",
        "Profile",
        FormMethod.Post,
        new { @class = "form-horizontal", style="padding: 0", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <p>XXX</p>

    @Html.EditorForModel("EditorTemplates/CreateArticleEditor")
}