@model Academy.Presentation.ViewModels.Profile

<div class="tree">

    <ul>
        <li class="root">
            <input type="checkbox" />
            <h>Math</h>
        <ul>
            <li>
                <input type="checkbox" />
                <h>Algebra</h>
            <ul>
                <li>
                    <input type="checkbox" />
                    <h>Group Theory</h>
                <ul>
                    <li>
                        <input type="checkbox" />
                        <h>Combinatorial Group Theory</h>
                    </li>
                </ul>
                </li>
                <li>
                    <input type="checkbox" />
                    <h>Finite Fields</h>
                </li>
            </ul>
            </li>
            <li>
                <input type="checkbox" />
                <h>Geometry</h>
            <ul>
                <li>
                    <input type="checkbox" />
                    <h>Differential Geometry</h>
                </li>
                <li>
                    <input type="checkbox" />
                    <h>Analytic Geometry</h>
                </li>
            </ul>
            </li>
            <li>
                <input type="checkbox" />
                <h>Topology</h>
            <ul>
                <li>
                    <input type="checkbox" />
                    <h>Differential Topology</h>
                </li>
                <li>
                    <input type="checkbox" />
                    <h>Combinatorial Topology</h>
                </li>
                <li>
                    <input type="checkbox" />
                    <h>General Topology</h>
                </li>
            </ul>
            </li>
        </ul>
        </li>

        <li class="root">
            <input type="checkbox" />
            <h>Physic</h>
        <ul>
            <li>
                <input type="checkbox" />
                <h>mechanics</h>
            </li>
            <li>
                <input type="checkbox" />
                <h>Thermodynamics</h>
            </li>
        </ul>
        </li>

    </ul>
    
    </div>