@using Academy.Resources
@model Academy.Presentation.ViewModels.Profile
<div class="control-group">
    <ul class="thumbnails">
        <li class="thumbnail">
            @if (String.IsNullOrEmpty(Model.PhotoFileName))
            {
                <img src="/Resources/Users/UnknownUser.jpg" />
            }
            else
            {
                <img src="/Resources/Users/@Model.PhotoFileName"/>
            }
        </li>
    </ul>
    <button type="button" class="btn btn-block width-full">
        @Localization.GetString("profile.myarticles")
    </button>
    <button type="button" class="btn btn-block width-full">
        @Localization.GetString("profile.mycomment")
    </button>
    <button type="button" class="btn btn-block width-full">
        @Localization.GetString("prifile.myquestions")
    </button>
    <button type="button" class="btn btn-block width-full">
        @Localization.GetString("profile.myanswers")
    </button>
</div>
