@model Academy.Presentation.ViewModels.UserViewModel

<div class="span6 no-margin">
    @{
        Html.RenderPartial("Forms/EditUserForm", Model);
    }
</div>
<div class="span3 pull-right">
    @{
        Html.RenderPartial("Forms/SelectDisciplinesForm", Model);
    }
</div>