@using System.Web.Optimization
@model Academy.Presentation.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Internal.cshtml";
}
@section styles {
    @Styles.Render("~/Content/uploadify")
    @Styles.Render("~/Content/tree")
}
@section UserName
{
    @{ Html.RenderPartial("../Shared/RenderTemplates/UserName", Model); }
}

<div id ="profile" class="span3">
    @{
        Html.RenderPartial("../Shared/RenderTemplates/UserView", Model);
    }
</div>
<div id="data" class="span9">
    @{
        Html.RenderPartial("../Note/UserNotesView", Model);
    }
</div>

@section Scripts {
    <script type="text/javascript" src="../../Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.uploadify.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="../../Scripts/tree.js"></script>
}
