@using System.Web.Optimization
@model Academy.Presentation.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Internal.cshtml";
}
@section styles {
    @Styles.Render("~/Content/tree")
}
@section UserName
{
    @{ Html.RenderPartial("UserName", Model); }
}
@section Profile
{
    <div id ="profile" class="span3">
        @{ Html.RenderPartial("../Shared/RenderTemplates/UserView", Model); }
    </div>
}

<div id="body" class="span9 content">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/academy")
    @*@Scripts.Render("~/bundles/tree")*@
}


