@using Academy.Presentation.ViewModels
@model UserViewModel

@{
    const string askQuestionText = "Ask Question";
    var questionTemplate = new QuestionViewModel {AuthorId = Model.Id};
}

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle act-primary" data-toggle="collapse"
               data-parent="#accordion2" href="#collapseOne">
                @askQuestionText
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
                @{
                    Html.RenderPartial("Forms/AskQuestionForm", questionTemplate);
                }
            </div>
        </div>
    </div>
</div>
<div id="userQuestions">
    @{
        Html.RenderPartial("RenderTemplates/Paging/QuestionsPageView", Model.QuestionsPage);
    }
</div>

<script type="text/javascript">
    CollapseDisciplinesTree();
</script>
