body
{
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    height: 100%;
}

.wrapper {
    min-height: 800px;
    height: auto !important;
    height: 100%;
    padding-bottom: 20px;
    margin-bottom: -1px;
}
.footer, .push {
    border-top: 1px solid #eee;
    height: 100px;
    padding: 10px;
    clear: both;
    margin-left: 20px;
    text-align: center;
    font-size: 10pt
}

.content
{
    padding-right: 20px;
}

.title
{
    text-decoration: none;
}

.title:hover
{
    text-decoration: none;
}

.select-day
{
    width: 60px;
}

.select-month
{
    width: 115px;
}

.select-year
{
    width: 80px;
}

.input-over-date
{
    width: 250px;
}

.with-for-date
{
    width: 400px;
}

/* validation styles */

.validation-summary-errors
{
    color: red;
    font-size: 12px;
}

.validation-summary-errors li
{
    list-style: none;
    display: inline;
}

.field-validation-valid
{
    display: none;
}

.field-validation-error
{
    color: red;
    font-size: 12px;
    display: block;
    width: 250px;
}

.text-block {
  margin-bottom: 10px;
  color: inherit;
  background-color: #f5f5f5;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.text-block-header {
    padding: 9px 10px;
    border-bottom: 1px solid #eee;
}

.text-block-body {
  position: relative;
  /*max-height: 400px;*/
  padding: 15px;
  overflow-y: auto;
}

.text-block-footer {
  padding: 14px 15px 15px 15px;
  margin-bottom: 0;
  text-align: left;
  font-size: 8pt;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.text-block-sub-header {
    padding: 5px 10px;
    text-align: center;
}

.font-size-inherit {
    font-size: inherit;
}

.font-small {
    font-weight: normal;
    font-size: 8pt;
}

.pull-center {
    margin-left: auto;
    margin-right: auto;
}

.tree
{
    border: 0;
}

.tree span {
    cursor: default;
}

.tree li {
    list-style-type: none;
}

.tree-editor {
    min-height: 300px;
}

.scrollable-horizontal {
    overflow-x: scroll;
}

.side-bar {
    min-height: 650px;
    height: 100%;
    border-right: 1px solid #eee;
    padding-right: 20px
}

.photo-fixed-size-preview
{
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
}

.text-hypenation
{
    white-space: pre-line;
    margin-top: 5px;
    vertical-align: middle;
    text-align: center;
}

.list-flat
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.full-block
{
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-for-name
{
    width: 120px;
    margin: 0 auto;
}

.offset0
{
    margin-left: 5px;
}

.font-large
{
    font-size: 14px;
}

.input-normal-height
{
    height: 30px;
}

.fixed-size
{
    resize: none;
}

.no-margin
{
    margin: 0;
}

