<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <connectionStrings>
    <!--<add name="AcademyEntities" connectionString="server=(local);database=Academy;Trusted_Connection=true" providerName="System.Data.SqlClient"/>-->
    <add name="AcademyEntities" connectionString="Data Source=d:\dev\academy\src\Academy\Academy.Presentation.Views\App_Data\AcademyDb.sdf;" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
</configuration>