@using Academy.Resources
@model Academy.Presentation.ViewModels.ArticleSearchResultViewModel

@if (Model.Articles != null)
{
    foreach (var article in Model.Articles)
    {
        Html.RenderPartial("RenderTemplates/ArticleView", article);
    }
}
else
{
    <p>@Localization.GetString("search.result.empty")</p>
}


<script type="text/javascript" src="../../Scripts/InitSingleArticleHandlers.js"></script>
<script type="text/javascript" src="../../Scripts/InitArticleHandlers.js"></script>