@using Academy.Resources
@model Academy.Presentation.ViewModels.QuestionSearchResultViewModel

@if (Model.Questions != null)
{
    foreach (var question in Model.Questions)
    {
        Html.RenderPartial("RenderTemplates/QuestionView", question);
    }
}
else
{
    <p>@Localization.GetString("search.result.empty")</p>
}


<script type="text/javascript" src="../../Scripts/InitSingleQuestionHandlers.js"></script>
<script type="text/javascript" src="../../Scripts/InitQuestionHandlers.js"></script>