@model Academy.Presentation.ViewModels.ArticleSearchViewModel

<div class="span3 side-bar" id="articleCriteria">
    @{
        Html.RenderPartial("Forms/ArticleSearchForm", Model);
    }
</div>

<div class="span9 pull-right" style="margin-left: 0" id="articleResult">

</div>
