@model Academy.Presentation.ViewModels.QuestionSearchViewModel

<div class="span3 side-bar" id="questionCriteria">
    @{
        Html.RenderPartial("Forms/QuestionSearchForm", Model);
    }
</div>

<div class="span9 pull-right" style="margin-left: 0" id="questionResult">
    
</div>