@using Academy.Presentation.ViewModels
@using Academy.Presentation.Views.Helpers

@model QuestionSearchViewModel

@{
    const string textFieldClass = "search-query full-block";
    const string textFieldStyle = "height: 30px";
}

<div class="page-header">
    Articles saerch
</div>
<div class="control-group">
    @Html.TextBoxFor(m => m.Keyword, new
        {
            @class = textFieldClass,
            placeholder = Html.DisplayNameFor(m => m.Keyword),
            style = textFieldStyle
        })
</div>
<div class="page-header">
    Select disciplines
</div>
<div class="control-group scrollable-horizontal tree-editor">
    @Html.DisciplinesTreeFor("Disciplines", (IEnumerable<DisciplineViewModel>)ViewBag.Disciplines)
</div>

<script type="text/javascript">
    CollapseDisciplinesTree();
</script>